Temp
Library
Assets/Asset_Imports
Assets/Asset_Imports.meta
UnityPackageManager
.vs
Space Shooter.csproj
Space Shooter.Editor.csproj
Space Shooter.Editor.Plugins.csproj
Space Shooter.Plugins.csproj
Space Shooter.sln